.friends {
  font-size: 0.9em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.friends-list {
  min-width: 150px;
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.friend-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  background-color: #151515;
  border-radius: 25px;
  width: 45%;
  min-width: 180px;
  margin: 10px;
}

.profile-picture {
  border-radius: 50%;
  margin-right: 10px;
  width: 20vw;
  height: 20vw; /* Make this the same as the width */
  max-width: 70px;
  max-height: 70px; /* Add this to limit the height as well */
  min-width: 50px;
  min-height: 50px;
}
.review-content {
  font-size: 0.9em;
}
.bold {
  font-weight: bold;
}
.name {
  font-size: 1.5em;
  font-weight: 700;
}
.category-switch {
  width: 60%;
  margin: 20px;
}

.category-switch .active {
  color: #fdb648;
  text-decoration: underline;
}
@media (max-width: 600px) {
  .friends {
    font-size: 0.8em;
  }
  .friend-card {
    margin-bottom: 5px;
    background-color: #151515;
    border-radius: 25px;
    margin: 5px;
  }
  .profile-picture {
    border-radius: 50%;
    margin-right: 5px;
    width: 8vw;
    height: 8vw;
    max-width: 50px;
    max-height: 50px;
    min-width: 35px;
    min-height: 35px;
  }
  .review-content {
    font-size: 0.6em;
  }
  .bold {
    font-weight: bold;
  }
  .name {
    font-size: 1.2em;
    font-weight: 700;
  }
  .category-switch {
    font-size: 0.8em;
  }
}
