.profile-menu {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: center;
  align-items: center;
}
.profile-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-picture {
  width: 10vw;
  height: 10vw;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}
.profile-options {
  margin: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.profile-option {
  padding: 2vh;
}
h1,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #fff;
}
.profile-option i {
  color: #fdb648;
  margin: 0 1vw;
  padding: 0;
}
.logout-button i {
  color: #ffffff;
  margin: 0 1vw;
  padding: 0;
}

.logout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: normal;
  padding: 1vh;
  border-radius: 5rem;
  background-color: #fdb648;
  font-size: 1.5em;
  font-weight: 800;
}
.logout-button span {
  margin: 0 1vw;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  h1,
  p {
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
  .profile-menu {
    margin-top: 2vh;
  }

  .profile-options {
    margin: 2vh;
    font-size: 1.2em;
  }

  .profile-option {
    padding: 1vh;
  }

  .logout {
    padding: 0.5vh;
    font-size: 1.2em;
  }
}
