<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/login.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="login-container">
      <div class="logo">
        <img src="../icons/logo_alfa.png" alt="Giro Del Gusto Logo" />
      </div>
      <h1>Welcome Back!</h1>
      <p>Please login to your account</p>
      <form action="#">
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Password" />
        <a href="#">Forgot Password?</a>
        <button type="submit">LOGIN</button>
      </form>
      <p>Don't have an account? <a href="#">SIGN UP</a></p>
    </div>
  </body>
</html>
